/* TicketBuy.css */
.ticket-buy-container {
  margin: 50px auto;
  padding: 20px;
  width: 475px;
  background-color: #1f6f78;
  border: 1px solid #2c786c;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.ticket-buy-container h2 {
  text-align: center;
}

.ticket-buy-container form {
  display: flex;
  flex-direction: column;
}

.ticket-buy-container label {
  margin-bottom: 5px;
}

.ticket-buy-container input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  
}

.ticket-buy-container div {
  display: flex;
  justify-content: space-between;
}

.ticket-buy-container span {
  font-size: 12px;
  margin-right: 30px;
}

.ticket-buy-container button {
  padding: 10px;
  background-color: #004445;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 5px;
}

.ticket-buy-container button:hover {
  background-color: #062925;
}




