.veterinarian-records-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #1f6f78;
  border-radius: 20px;
  background-color: #1f6f78;
  margin-top: 50px;
}

.form-group-vet {
  margin-bottom: 20px;
}

.label-vet {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.input-vet[type="number"],
.input-vet[type="number"]:focus,
textarea {
  width: calc(100% - 20px); /* Adjusted width to accommodate padding */
  padding: 10px; /* Keep consistent padding */
  font-size: 16px; /* Keep consistent font size */
  border: 1px solid #ccc; /* Keep consistent border */
  border-radius: 5px; /* Keep consistent border radius */
  box-sizing: border-box; /* Keep consistent box sizing */
}

.button-vet {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #004445;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-vet:hover {
  background-color: #062925;
}

@media screen and (max-width: 600px) {
  .veterinarian-records-container {
    width: 100%;
    border-radius: 0;
  }
}
