/* AnimalReport.css */

.animal-report-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #1f6f78;
  margin-top: 50px;
}

.animal-report-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.animal-report-form {
  display: flex;
  flex-direction: column;
}

.animal-species-label {
  font-size: 16px;
  margin-bottom: 10px;
}

.animal-species-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.generate-report-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #004445;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generate-report-button:hover {
  background-color: #062925;
}
